<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Styles.css">
    <title>Cart</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h2>Tech-Shop</h2>
            </div>
            <div class="navbar">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="tooltip">Search</span>
                </div>
    
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="tooltip">Cart</span>
                </div>
    
                <div class="profile-icon">
                    <i class="fa-solid fa-user"></i>
                    <div class="profile-card">
                        <h3>Hello!</h3>
                        <p>Access account and manage orders</p>
                        <button class="log-btn"><a href="#signin">Login/Signup</a></button>
                        <hr>
                        <p>Please Login</p>
                    </div>
                </div>
            </div>
    
        </nav>
    </header>

    <div class="signin" id="signin">
        <a class="close-btn" href="">×</a>
        <h3>Login</h3>
        <p>New to Tech-Shop? <a href="#signup">Create an account</a></p>
        <input type="text" placeholder="Username"><br>
        <input type="password" placeholder="Password"><br>
        <button class="signin-btn">Signin</button>
    
        <div class="seperator">
            <span> or login with </span>
        </div>
    
        <div>
            <button class="social facebook">Facebook</button>
            <button class="social google">Google</button>
            <button class="social twitter">Twitter</button>
        </div>
    </div>
    
    <div class="signup" id="signup">
        <a class="close-btn" href="">×</a>
        <h3>Signup</h3>
        <p>Already have an account? <a href="#signin">Login Here</a></p>
        <input type="text" placeholder="Username"><br>
        <input type="email" placeholder="Email"><br>
        <input type="password" placeholder="Password"><br>
        <input type="text" placeholder="Confirm Password"><br>
        <button class="signup-btn">Signup</button>
    
        <div class="seperator">
            <span> or login with </span>
        </div>
    
        <div>
            <button class="social facebook">Facebook</button>
            <button class="social google">Google</button>
            <button class="social twitter">Twitter</button>
        </div>
    </div>

    <main>
        <div class="scroll-cart">
            <div class="cart-item">
                <img src="/images/products/jbl660nc-1.png" alt="JBL 660NC">
                <div>
                    <p>JBL Live 660NC Wireless Over-Ear NC Headphones</p>
                    <p>₹9,999 <span><strike>₹14,999</strike></span></p>
                    <div>
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
                <span><i class="fa-solid fa-trash"></i></span>
            </div>
            <hr>
            <div class="cart-item">
                <img src="/images/products/boat518-1.png" alt="boAt Rockerz 518">
                <div>
                    <p>boAt Rockerz 518 On-Ear Wireless Headphones</p>
                    <p>₹1,299 <span><strike>₹3,990</strike></span></p>
                    <div>
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
                <span><i class="fa-solid fa-trash"></i></span>
            </div>
            <hr>
            <div class="cart-item">
                <img src="/images/products/boat131-1.png" alt="boAt Airdopes 131">
                <div>
                    <p>boAt Airdopes 131 Wireless In-Ear Earbuds</p>
                    <p>₹1,099 <span><strike>₹2,990</strike></span></p>
                    <div>
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
                <span><i class="fa-solid fa-trash"></i></span>
            </div>
            <hr>
            <div class="cart-item">
                <img src="/images/products/boat110-1.png" alt="boAt 110">
                <div>
                    <p>boAt Bassheads 110 In-Ear Wired Earphones</p>
                    <p>₹499 <span><strike>₹999</strike></span></p>
                    <div>
                        <p>-</p>
                        <p>1</p>
                        <p>+</p>
                    </div>
                </div>
                <span><i class="fa-solid fa-trash"></i></span>
            </div>
        </div>

        <div class="summary">
            <h4>Order Summary (4 Items)</h4>
            <p class="original">Original Price <span>₹22,978</span></p>
            <p class="discount">Discount <span>-₹10,082</span></p>
            <p class="delivery">Delivery <span>Free</span></p>
            <hr>
            <h5>Total Price <span>₹12,896</span></h5>
            <button class="checkout-btn">Checkout</button>
        </div>
    </main>

    <footer>
        <div class="details">
            <div class="sub">
                <h4>Tech-shop</h4>
                <p>Subscribe to our email alerts to our Email alerts to receive early discount offres and new products info.
                </p>
                <input type="email" placeholder="Email Address*">
                <button class="sub-btn">Subscribe</button>
            </div>
            <div class="help">
                <ul>
                    <li>Help</li>
                    <li>FAQs</li>
                    <li>Track Order</li>
                    <li>Cancel Order</li>
                    <li>Return order</li>
                    <li>Warranty info</li>
                </ul>
            </div>
            <div class="policies">
                <ul>
                    <li>Policies</li>
                    <li>Return Policy</li>
                    <li>Security</li>
                    <li>Sitemap</li>
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                </ul>
            </div>
            <div class="company">
                <ul>
                    <li>Company</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>service Centers</li>
                    <li>Careers</li>
                    <li>affiliates</li>
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <p>
                @2024 | All Rights Reserved.Built by | SAINADH REDDY SANIKOMMU
            </p>
            <div>
                <ul>
                    <li><i class="fa-brands fa-facebook-f"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-linkedin-in"></i></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>