<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Styles.css">
    <title>Product Details</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h2>Tech-Shop</h2>
            </div>
            <div class="navbar">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="tooltip">Search</span>
                </div>
    
                <div class="cart-icon">
                    <a href="/Components/Cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                    <span class="tooltip">Cart</span>
                </div>
    
                <div class="profile-icon">
                    <i class="fa-solid fa-user"></i>
                    <div class="profile-card">
                        <h3>Hello!</h3>
                        <p>Access account and manage orders</p>
                        <button class="log-btn"><a href="#signin">Login/Signup</a></button>
                        <hr>
                        <p>Please Login</p>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="signin" id="signin">
        <a class="close-btn" href="">×</a>
        <h3>Login</h3>
        <p>New to Tech-Shop? <a href="#signup">Create an account</a></p>
        <input type="text" placeholder="Username"><br>
        <input type="password" placeholder="Password"><br>
        <button class="signin-btn">Signin</button>
    
        <div class="seperator">
            <span> or login with </span>
        </div>
    
        <div>
            <button class="social facebook">Facebook</button>
            <button class="social google">Google</button>
            <button class="social twitter">Twitter</button>
        </div>
    </div>
    
    <div class="signup" id="signup">
        <a class="close-btn" href="">×</a>
        <h3>Signup</h3>
        <p>Already have an account? <a href="#signin">Login Here</a></p>
        <input type="text" placeholder="Username"><br>
        <input type="email" placeholder="Email"><br>
        <input type="password" placeholder="Password"><br>
        <input type="text" placeholder="Confirm Password"><br>
        <button class="signup-btn">Signup</button>
    
        <div class="seperator">
            <span> or login with </span>
        </div>
    
        <div>
            <button class="social facebook">Facebook</button>
            <button class="social google">Google</button>
            <button class="social twitter">Twitter</button>
        </div>
    </div>

    <div class="product-details">
        <div class="product-imgs">
            <img src="/images/products/jbl660nc-1.png" alt="">
            <img src="/images/products/jbl660nc-2.png" alt="">
            <img src="/images/products/jbl660nc-3.png" alt="">
            <img src="/images/products/jbl660nc-4.png" alt="">
        </div>

        <div class="main-product">
            <img src="/images/products/jbl660nc-1.png" alt="">
        </div>

        <div class="desc">
            <div class="text">
                <h3>JBL Live 660NC</h3>
                <p>Wireless Over-Ear NC Headphones</p>
                <div class="ratings">
                    <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                    <span> | 1234 ratings</span>
                </div>
            </div>
            <hr>
            <div class="price">
                <div>
                    <p class="sp">₹9,999 <span><strike>₹14,999</strike></span></p>
                    <p class="saved">You save:₹5000 (33%)</p>
                    <span>(Inclusive of all Taxes)</span>
                </div>
                <div>
                    <i class="fa-solid fa-check"></i> In stock
                </div>
            </div>
            <hr>
            <div class="offers">
                <h3>Offers and Discounts</h3>
                <div class="discounts">
                    <div>No Cost EMI on Credit Card</div>
                    <div>Pay later & Avail Cashback</div>
                </div>
            </div>
            <hr>
            <button class="atc-btn">Add to Cart</button>
        </div>
    </div>

    <div class="specs">
        <ul>
            <li>Specifications</li>
            <li>Overview</li>
            <li>Reviews</li>
        </ul>

        <div>
            <ul>
                <li>Brand</li>
                <li>Model</li>
                <li>Generic Name</li>
                <li>Headphone Type</li>
                <li>Connectivity</li>
                <li>Microphone</li>
            </ul>
            <ul>
                <li>JBL</li>
                <li>JBL Live 660NC</li>
                <li>Headphones</li>
                <li>Over Ear</li>
                <li>Wireless</li>
                <li>Yes</li>
            </ul>
        </div>
    </div>

    <div class="related-products">
        <h4>Related Products</h4>
        
        <div class="products-cards">
            <div class="product">
                <img src="/images/products/jbl660nc-1.png" alt="JBL 600NC">
                <div class="desc">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                    </div>
                    <h6>JBL Live 660NC</h6>
                    <p>Wireless Over-Ear NC Headphones</p>
                    <hr>
                    <p class="price">₹9,999 <span><strike>₹14,999</strike></span></p>
                    <button class="add-btn">Add to Cart</button>
                </div>
            </div>
        
            <div class="product">
                <img src="/images/products/boat518-1.png" alt="boAt Rockerz 518">
                <div class="desc">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                    </div>
                    <h6>boAt Rockerz 518</h6>
                    <p>On-Ear Wireless Headphones</p>
                    <hr>
                    <p class="price">₹1,299 <span><strike>₹3,990</strike></span></p>
                    <button class="add-btn">Add to Cart</button>
                </div>
            </div>
        
            <div class="product">
                <img src="/images/products/boat410-1.png" alt="boAt Rockerz 410">
                <div class="desc">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i>
                    </div>
                    <h6>boAt Rockerz 410</h6>
                    <p>Bluetooth & Wired On-Ear headphones</p>
                    <hr>
                    <p class="price">₹1,599 <span><strike>₹2,990</strike></span></p>
                    <button class="add-btn">Add to Cart</button>
                </div>
            </div>
        
            <div class="product">
                <img src="/images/products/sonyXb910n-1.png" alt="Sony WH-XB910N">
                <div class="desc">
                    <div class="rating">
                        <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                            class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                    </div>
                    <h6>Sony WH-XB910N</h6>
                    <p>Wireless Over-Ear Headphones</p>
                    <hr>
                    <p class="price">₹13,489 <span><strike>₹19,990</strike></span></p>
                    <button class="add-btn">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="indicators">
            <button></button><button></button><button></button><button></button>
        </div>
    </div>

    <div class="advantages">
        <h4>Our Advantages</h4>
        <div>
            <ul>
                <li>
                    <i class="fa-solid fa-truck-fast"></i>
                    <div>
                        <p>Express Delivery</p><span>Ships in 24 Hours</span>
                    </div>
                </li>
                <li>
                    <i class="fa-solid fa-shield-halved"></i>
                    <div>
                        <p>Brand Warranty</p><span>100% Original Products</span>
                    </div>
                </li>
                <li>
                    <i class="fa-solid fa-tags"></i>
                    <div>
                        <p>Exciting Deals</p><span>On all prepared orders</span>
                    </div>
                </li>
                <li>
                    <i class="fa-solid fa-credit-card"></i>
                    <div>
                        <p>Secure Payments</p><span>SSL/secure payments</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
    <footer>
        <div class="details">
            <div class="sub">
                <h4>Tech-shop</h4>
                <p>Subscribe to our email alerts to our Email alerts to receive early discount offres and new products info.
                </p>
                <input type="email" placeholder="Email Address*">
                <button class="sub-btn">Subscribe</button>
            </div>
            <div class="help">
                <ul>
                    <li>Help</li>
                    <li>FAQs</li>
                    <li>Track Order</li>
                    <li>Cancel Order</li>
                    <li>Return order</li>
                    <li>Warranty info</li>
                </ul>
            </div>
            <div class="policies">
                <ul>
                    <li>Policies</li>
                    <li>Return Policy</li>
                    <li>Security</li>
                    <li>Sitemap</li>
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                </ul>
            </div>
            <div class="company">
                <ul>
                    <li>Company</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>service Centers</li>
                    <li>Careers</li>
                    <li>affiliates</li>
                </ul>
            </div>
        </div>
        <hr>
        <div>
            <p>
                @2024 | All Rights Reserved.Built by | SAINADH REDDY SANIKOMMU
            </p>
            <div>
                <ul>
                    <li><i class="fa-brands fa-facebook-f"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-linkedin-in"></i></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>